@import '../../shared/variables.scss';

.game-option-container {
	padding-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& h3 {
		font-size: 32px;
	}

	& div p {
		font-size: 18px;
		margin-bottom: 0.2rem;
	}
}

.button-group {
	display: flex;
	gap: 0.1rem;
	flex-wrap: nowrap;

	& button {
		background-color: $primary-dark;
		border-radius: 7px;
		padding: 0.2rem;
		font-size: 20px;

		&:hover {
			cursor: pointer;
		}
	}
}
