@import '../shared/variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

body {
	background-color: $primary;
}

.fade-in {
	animation: fadeinout 1s;
}

.fade-out {
	animation: fadeinout 1s reverse;
}

@keyframes fadeinout {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
